@font-face {
  font-family: "Gothic Joker";
  src: url("./Gothic-Joker.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$main-font: "Gothic Joker", Arial, Helvetica, sans-serif;
