@import "../fonts/fonts.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 104rem;
  padding: 0 2rem;

  @media screen and (max-width: 105rem) {
    max-width: 93.7rem;
  }

  @media screen and (max-width: 85.4375rem) {
    max-width: 78.75rem;
  }

  @media screen and (max-width: 80.0625rem) {
    max-width: 72.5rem;
    padding: 0 1.25rem;
  }

  @media screen and (max-width: 64.0625rem) {
    max-width: 52.125rem;
    padding: 0 1rem;
  }

  @media screen and (max-width: 48.0625rem) {
    max-width: 38.375rem;
  }

  @media screen and (max-width: 33.8125rem) {
    max-width: 100%;
    padding: 0 3rem;
  }

  @media screen and (max-width: 23.5rem) {
    max-width: 100%;
    padding: 0 1.75rem;
  }
}

.title-big-md {
  font-size: 2.75rem;
  font-weight: 500;
  font-family: $main-font;
  line-height: 3.625rem;
  text-box-trim: trim-start trim-end;
  text-box-edge: cap alphabetic;

  @media screen and (max-width: 85.4375rem) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  @media screen and (max-width: 33.8125rem) {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  @media screen and (max-width: 23.5rem) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.title-big-reg {
  font-family: $main-font;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 3.625rem;
  text-box-trim: trim-start trim-end;
  text-box-edge: cap alphabetic;
  @media screen and (max-width: 85.4375rem) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  @media screen and (max-width: 33.8125rem) {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  @media screen and (max-width: 23.5rem) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.subtitle-big-md {
  font-family: $main-font;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  text-box-trim: trim-start trim-end;
  text-box-edge: cap alphabetic;
  @media screen and (max-width: 85.4375rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @media screen and (max-width: 64.0625rem) {
    font-size: 2rem;
    line-height: 2.375rem;
  }
  @media screen and (max-width: 33.8125rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @media screen and (max-width: 23.5rem) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.subtitle-big-reg {
  font-family: $main-font;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  text-box-trim: trim-start trim-end;
  text-box-edge: cap alphabetic;
  @media screen and (max-width: 85.4375rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @media screen and (max-width: 64.0625rem) {
    font-size: 2rem;
    line-height: 2.375rem;
  }
  @media screen and (max-width: 33.8125rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @media screen and (max-width: 23.5rem) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 16.25rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.125rem;
  text-box-trim: trim-start trim-end;
  text-box-edge: cap alphabetic;
}

//section styling
.get-to-know {
  margin-top: 5rem;
  margin-bottom: 3rem;
  .title-heading {
    text-align: center;
    max-width: 63.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem;
    color: $text-title-75;

    @media screen and (max-width: 64.0625rem) {
      padding: 0 2rem;
    }

    @media screen and (max-width: 48.0625rem) {
      padding: 0;
    }

    span {
      color: $text-title;
    }
  }

  .flex-container {
    margin-top: 2.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
    @media screen and (max-width: 105.0625rem) {
      gap: 4.375rem;
    }
    @media screen and (max-width: 85.4375rem) {
      gap: 3.437rem;
    }
    @media screen and (max-width: 80.0625rem) {
      gap: 3rem;
    }

    @media screen and (max-width: 64.0625rem) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    @media screen and (max-width: 48.0625rem) {
      margin-top: 2rem;
      gap: 4.3rem;
    }

    @media screen and (max-width: 33.8125rem) {
      margin-top: 2rem;
      gap: 3.8rem;
    }

    @media screen and (max-width: 23.5rem) {
      margin-top: 2rem;
      gap: 2.5rem;
    }

    .img-container {
      .img {
        position: relative;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
        .svg-forma {
          position: absolute;
          left: -1px;
          bottom: -5rem;
          width: 101%;
          z-index: 1;
          transition: all 0.7s ease;
          @media screen and (max-width: 105.0625rem) {
            bottom: -4.8rem;
          }
          @media screen and (max-width: 85.4375rem) {
            bottom: -4.1rem;
          }
          @media screen and (max-width: 80.0625rem) {
            bottom: -3.8rem;
          }
          @media screen and (max-width: 33.8125rem) {
            bottom: -1.3rem;
          }
          @media screen and (max-width: 23.5rem) {
            bottom: -0.6rem;
          }
        }
        .hover-group {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 17.5rem;
          height: auto;
          opacity: 0;
          transition: all 0.7s ease;

          @media screen and (max-width: 48.0625rem) {
            display: none;
          }
        }
      }
      .hover-color {
        display: none;
        @media screen and (max-width: 48.0625rem) {
          position: relative;
          display: flex;
          justify-content: center;
          z-index: 9;

          @media screen and (max-width: 33.8125rem) {
            margin-top: -2.7rem;
          }
          @media screen and (max-width: 23.5rem) {
            margin-top: -2.3rem;
          }
        }
        img {
          width: 17rem;
          height: auto;
          @media screen and (max-width: 48.0625rem) {
            width: 65%;
          }
        }
      }
      .area-content {
        position: relative;
        z-index: 9;
        transition: all 0.7s ease;
        h4 {
          text-align: center;
          color: $text-title;
          margin-top: 13px;

          @media screen and (max-width: 64.0625rem) {
            margin-top: 0;
          }

          @media screen and (max-width: 48.0625rem) {
            display: none;
          }
        }
        p {
          text-align: center;
          color: $text-title-75;

          @media screen and (max-width: 48.0625rem) {
            margin-top: 10px;
          }
        }
        button {
          margin-left: auto;
          margin-right: auto;
          margin-top: 2rem;
          transform: translatey(100%);
          opacity: 0;
          transition: all 0.7s ease;

          @media screen and (max-width: 64.0625rem) {
            margin-top: 1.7rem;
          }

          @media screen and (max-width: 48.0625rem) {
            margin-top: 1.3rem;
          }

          @media screen and (max-width: 48.0625rem) {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      &.img-container-1 {
        .img {
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $red-inactive;
            background-blend-mode: multiply;
            background-image: url("../assets/img-1.jpg");
            opacity: 0;
            // transform: translateY(100%);
            transition: all 0.7s ease;

            @media screen and (max-width: 48.0625rem) {
              display: none;
            }
          }
        }
        .area-content {
          button {
            background-color: $red-inactive;
            color: white;
            &:hover {
              background-color: $red-active;
            }
          }
        }

        @media screen and (min-width: 48.0625rem) {
          &:hover {
            .img {
              &::before {
                opacity: 1;
              }
              .svg-forma {
                bottom: -3.3rem;
              }
              .hover-group {
                opacity: 1;
              }
            }
            .area-content {
              margin-top: -2rem;

              @media screen and (max-width: 85.4375rem) {
                margin-top: -0.9rem;
              }
              button {
                transform: translateY(0);
                opacity: 1;

                @media screen and (max-width: 64.0625rem) {
                  margin-bottom: 2.3rem;
                }
              }
            }
          }
        }
      }

      &.img-container-2 {
        .img {
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $blue-inactive;
            background-blend-mode: multiply;
            background-image: url("../assets/img-2.jpg");
            opacity: 0;
            // transform: translateY(100%);
            transition: all 0.7s ease;
            @media screen and (max-width: 48.0625rem) {
              display: none;
            }
          }
        }
        .area-content {
          button {
            background-color: $blue-inactive;
            color: white;
            &:hover {
              background-color: $blue-active;
            }
          }
        }
        @media screen and (min-width: 48.0625rem) {
          &:hover {
            .img {
              &::before {
                opacity: 1;
              }
              .svg-forma {
                bottom: -3.3rem;
              }
              .hover-group {
                opacity: 1;
              }
            }
            .area-content {
              margin-top: -2rem;
              @media screen and (max-width: 85.4375rem) {
                margin-top: -0.9rem;
              }
              button {
                transform: translateY(0);
                opacity: 1;
                @media screen and (max-width: 64.0625rem) {
                  margin-bottom: 2.3rem;
                }
              }
            }
          }
        }
      }

      &.img-container-3 {
        .img {
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green-inactive;
            background-blend-mode: multiply;
            background-image: url("../assets/img-3.jpg");
            opacity: 0;
            // transform: translateY(100%);
            transition: all 0.7s ease;

            @media screen and (max-width: 48.0625rem) {
              display: none;
            }
          }
        }
        .area-content {
          button {
            background-color: $green-inactive;
            color: white;
            &:hover {
              background-color: $green-active;
            }
          }
        }
        @media screen and (min-width: 48.0625rem) {
          &:hover {
            .img {
              &::before {
                opacity: 1;
              }
              .svg-forma {
                bottom: -3.3rem;
              }
              .hover-group {
                opacity: 1;
              }
            }
            .area-content {
              margin-top: -2rem;
              @media screen and (max-width: 85.4375rem) {
                margin-top: -0.9rem;
              }
              button {
                transform: translateY(0);
                opacity: 1;
                @media screen and (max-width: 64.0625rem) {
                  margin-bottom: 2.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
